
*{
  padding: 0;
  margin: 0;
}
body{
 font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(251, 251, 252);
}
.head{
  height: 5rem;
  padding-top: 2.5rem;
  text-align: center;
  background-color: black;
  color: white;
}
.ip{
  /* margin: 3rem; */
padding:1rem;
width: 15rem;
border: 4px solid black;
font-weight: bold;

}
.todoform{
  display: flex;
  margin: 4rem;
  gap: 3rem;
}
.btn-add{
  background-color:black;
  color:white;
  padding: 3px 6px;
  height: 3.8rem;
  width: 9rem;
  border-radius:50px ;
  font-weight: bolder;

}
.btn-add:hover{
  background-color: blueviolet;
}
.taskname{
  margin: 2rem;
  
}
.Taskss{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding-bottom: 2rem;
  /* width:76%; */
  background-color: rgb(123, 176, 158);
}
.rend{
  background-color: aqua;
}
.dlt-btn{
  font-weight: bolder;
  margin-top: .6rem;
  margin-right: 1rem;
  padding: .6rem 1.5rem;
  background-color:rgb(228, 94, 94);
  color: black;
  border: 1px solid rgb(79,168,79);
  border-radius: 5px;
}
.dlt-btn:hover{
  background-color: rgb(208, 41, 41);
}